<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="board" type="com.example.board.BoardVO"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.mariadb.jdbc.Driver"/>
                <property name="url" value="$jdbc:mysql://localhost:3306/p233_22200564"/>
                <property name="username" value="p233_22200564"/>
                <property name="password" value="Meer5i"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="classpath:mappers/*-mapper.xml"/>
        <mapper resource="classpath:mybatis-config.xml"/>
    </mappers>
</configuration>